.main {
  margin-top: 100px;
}

body {
  background: white;
}

.logo-img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  width: 500px;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  margin-left: auto;
  margin-right: auto;
}

.lucky-button {
  margin-left: auto;
  margin-right: auto;
}

.privacy-policy {
  margin-left: auto;
  margin-right: auto;
}